.tarjeta{
    width: 200px;
    height: 180px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}


img{
    width: 200px;
}

.texto{
    font-size: 25px;
    padding: 5px;
    font-weight: 600;
    color: var(--text-light);
}

label{
    align-self: center;
    margin: 0px;
}