<div class="ajustesContainer">
    <div>
      <h1 class="ajustesTitle">Ajustes</h1>
    </div>
    <div class="panel">
      <div class="fila">
        <label class="texto">Tipografía</label>
        <i class="fa fa-chevron-left"></i>    
        <i class="fa fa-chevron-right"></i>  
      </div>
      <div class="fila">
        <label class="texto">Voz de Tibot</label>
        <i class="fa fa-chevron-left"></i>    
        <i class="fa fa-chevron-right"></i>
      </div>
      <div class="fila">
        <label class="texto">Visualizar el progreso en las actividades:</label>
        <button>Visualizar</button>
      </div>
      <div class="fila">
        <label class="texto">Reconocer un nuevo entorno:</label>
        <button mat-button (click)="openDialog()">Empezar</button>
      </div>
    </div>
      <app-boton-cerrar></app-boton-cerrar>

    </div>

